<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        Enter New Username: <input type="text" name="username">
        Enter Your Email: <input type="email" name="email">
        Enter New Password: <input type="password" name="pwd">
        <button type="submit" name="submit">Sign Up</button>
    </form>
    
</body>
</html>